.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 22px;
}
.heading_div
{
  background: white ; 
  float: none;
  padding: 10px;
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
}
.heading_div2
{
  font-size: 18px ;

}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 18px;
  white-space: pre-line;
}
.copy_right_footer {
  color:cornflowerblue;
  width: 100%;
  position: fixed;
  text-align: center;
  
}
canvas{
margin-top: 160px;
margin-left: 160px;
margin-right: 160px;
margin-bottom:160px
}
.result_para_tag_1
{
  box-shadow:5px 5px 5px grey;
  font-size: 18px;
  white-space: pre-line;
}